{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Currency Converter</title>
</head>

<body style="overflow:hidden">
    <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
        <h5>Exchange Rate Calculator</h5>
        <img src="{% static 'images/image.jpg' %}" class="image" style="width:100px; margin-bottom:-50px; ">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label><b>Amount</b></label>
            </div>
            <div class="col-md-3">
                <label><b>From</b></label>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label><b>To</b></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input class="form-control" type="number" id="base-amount" value="1" style="width:100%" />
            </div>
            <div class="col-sm-3">
                <select class="form-control" id="base-currency">
                    {% for currency in currencies %}
                    <option value={{ currency }}>{{ currency }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-1">
                <button type="button" id="swap" class="btn btn-outline-primary mx-auto d-block">
                    <i class="fa fa-exchange" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-md-3">
                <select class="form-control" id="exchange-currency">
                    {% for currency in currencies %}
                    <option value={{ currency }}>{{ currency }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label id="rate" class="pull-right"></label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="text" id="converted-amount" placeholder="0" disabled
                    style="width:100%" />
            </div>
        </div>
        <div class="row" style="padding-top: 5px;">
            <div class="col-md-3"></div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label id="prev-rate" class="pull-right"></label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="text" id="prev-converted-amount" placeholder="0" disabled
                    style="width:100%" />
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/script.js' %}"></script>

</html>
